body {
    font-family: "Roboto", sans-serif !important;
}

#form {
    width: 40%;
    margin-top: 5vh;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

#form label:after {
    content: " *";
    color: red;
    font-weight: 100;
}

#results {
    margin-top: 5vh;
    margin-left: 15%;
}

table.fixed {
    width: 70%;
}

table.fixed td {
    overflow: hidden;
}

table.fixed td:nth-of-type(1) {
    width: 20%;
}

table.fixed td:nth-of-type(2) {
    width: 50%;
}

table.fixed td:nth-of-type(3) {
    width: 30%;
}

.elementor-background-overlay {
    background-image: url("https://unlockcommerce.co/wp-content/uploads/2022/08/Frame-22.svg");
    background-repeat: no-repeat;
    background-size: 12% auto;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 88%;
    position: absolute;
}

#loader {
    margin-left: 48.5%;
    margin-top: 5vh;
}

header {
    background-color: #2C2C2C;
}

#logo {
    margin-left: 3%;
}

#logo>img {
    padding-top: 20px;
    padding-bottom: 20px;
}

#searchButton {
    margin-left: 40%;
}

.text-content {
    margin-top: 5vh;
    text-align: center;
}

.text-content strong {
    color: red;
}

@media only screen and (max-width: 600px) {
    #form {
        width: 80%;
        margin-top: 3vh;
        margin-left: 10%;
    }

    #results {
        width: 80%;
        margin-top: 3vh;
        margin-left: 10%;
    }

    #loader {
        margin-left: 42%;
        margin-top: 5vh;
    }
}